
* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body { 
    background-color: 0d1117; 
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    color:ffffff;
}

.slideshow-container {
    width: 100%;
    max-width: 450px;
    background:161b22;
    border-radius: 25px;
    overflow: hidden; 
    box-shadow: 0 15px 40pxrgba(0,0,0,0.6);
}

.recipe-header {
    padding: 25px 20px;
    text-align: center;
}

.recipe-title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
}

.image-container {
    width: 100%;
    height: 350px; 
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.recipe-content {
    padding: 30px 25px;
}

.recipe-section {
    margin-bottom: 30px;
}

.recipe-section h2 {
    font-size: 1.4rem;
    margin-bottom: 12px;
    color:ffffff;
    border-bottom: 2px solid:#303630;
    padding-bottom: 5px;
}

.recipe-content ul, .recipe-content ol {
    font-size: 1.1rem;
    line-height: 1.7;
    color:cbd5e0;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}